@page "/add-Addons"
@inject NavigationManager NavigationManager
@inject AddOnsService AddOnsServices
@inject ISnackbar Snackbar

<style>
    .Buttonclass {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #3f91ff;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        margin: 10px;
       
        
        transition: background-color 0.2s;
    }

        .Buttonclass:hover {
            background-color: #2e84e1
        }

    .SecondButton {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        margin: 10px;
    }
</style>

<MudText Class="ml-4 mt-5" Typo="Typo.h6">Add Add-Ons</MudText>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <MudAlert Severity="Severity.Error">@_errorMessage</MudAlert>
}


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 d-flex flex-column gap-y-3">
            
            <MudTextField @bind-Value="_addOns" Label="Add Ons" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="_price" Label="Price" Variant="Variant.Outlined" InputType="@InputType.Number"></MudTextField>
            <MudTextField @bind-Value="_currentPassword" Label="Current Password" Variant="Variant.Outlined" InputType="@InputType.Password"></MudTextField>
            <div>
                <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Default" StartIcon="@Icons.Material.Filled.ArrowBack" Class="SecondButton" OnClick="goBack">
                    Back
                </MudButton>
                
                <MudButton Class="Buttonclass" DisableElevation="true" EndIcon="@Icons.Material.Filled.Add" OnClick="AddAddOnsDetails">
                    Add Add-Ons
                </MudButton>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string coffeeID { get; set; }

    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private string _errorMessage { get; set; } = "";
    private string _addOns { get; set; }
    private string _currentPassword { get; set; }
    private double _price { get; set; }


    protected void goBack()
    {
        NavigationManager.NavigateTo("/addons-items");
    }
    protected void AddAddOnsDetails()
    {
        try
        {
            if (String.IsNullOrEmpty(_currentPassword))
            {
                _errorMessage = "Please enter the password";
                return;
            }
            if (String.IsNullOrEmpty(_addOns))
            {
                _errorMessage = "Please enter the Add-Ons name";
                return;
            }
            if (_price <= 0)
            {
                _errorMessage = "Please enter a valid price for the Add-Ons";
                return;
            }
            if (_currentPassword != "admin")
            {
                _errorMessage = "Invalid password";
                return;
            }

            AddOnsServices.AddAddOnItem(_addOns, _price);

            _errorMessage = "";

            Snackbar.Add("Add-Ons Details is Added and stored succesfully", Severity.Success);
            goBack();
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
}
