@page "/order"
@inject CoffeeServices CoffeeServices
@inject AddOnsService AddOnServices
@inject OrderItemServices OrderItemServices
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<style>
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .Buttonclass {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #FFC061;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        margin: 10px;
        transition: background-color 0.2s;
    }

    .Buttonclass:hover {
            background-color: #F89500
    }

    .SecondButton {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #3f91ff;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        margin: 10px;
        transition: background-color 0.2s;
    }

        .SecondButton:hover {
            background-color: #2e84e1
        }
</style>

@if (Elements.Count() == 0)
{
    <div class="d-flex justify-content-center align-items-center mt-xxl-5">
        <MudAlert Severity="Severity.Warning" Variant="Variant.Filled">Cart is Empty. Order Some Coffee !!</MudAlert>
    </div>
}
else
{

    <MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
        <ToolBarContent>
            <div class="header">

                <MudText Typo="Typo.h6">Order</MudText>

                <MudText Typo="Typo.h6">Total Amount: <b>Rs.@Math.Round(_totalAmount, 2)</b></MudText>
            </div>
           
            <MudSpacer />
           
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Coffee Name</MudTh>
            <MudTh>Item Type</MudTh>
            <MudTh>Price</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>Total</MudTh>
            <MudTh>Action</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Item Ordered Name">@context.OrderedItemName</MudTd>
                <MudTd DataLabel="Item Ordered Type">@context.OrderedItemType</MudTd>
                <MudTd DataLabel="Price">@context.Price</MudTd>
                <MudTd DataLabel="Quantity">
                    <MudIconButton Icon="@Icons.Material.Filled.Remove" aria-label="subtract" OnClick="@(() => ManageQuantity(context.OrderItemID, "subtract"))"></MudIconButton>
                    <span>
                        @context.Quantity
                    </span>
                    <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="add" OnClick="@(() => ManageQuantity(context.OrderItemID, "add"))"></MudIconButton>
                </MudTd>
                <MudTd DataLabel="Total Price">Rs.@context.TotalPrice</MudTd>
                <MudTd DataLabel="Action">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="Delete" OnClick="@(() => DeleteCartItem(context.OrderItemID))"></MudIconButton>
            
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
                 
            </PagerContent>
        </MudTable>
    <div class="mt-5">
        <MudButton Class="SecondButton"  OnClick="clearCart">Clear Cart</MudButton>
        <MudButton Class="Buttonclass"
                   OnClick="@(() => NavigationManager.NavigateTo("/checkout"))">
            Checkout
                   </MudButton>
    </div>
}


@code {

    [CascadingParameter]
    private GlobalState _globalState { get; set; }

    private double _totalAmount { set; get; } = 0;

    private IEnumerable<OrderItems> Elements = new List<OrderItems>();

    private Coffee _coffee { set; get; }

    protected override void OnInitialized()
    {
        Elements = _globalState.OrderItems;
        _totalAmount = OrderItemServices.CalculateTotalAmount(Elements);

    }
    //for clear cart button
    private void clearCart()
    {
        _globalState.OrderItems.Clear();
        Snackbar.Add("Cart is cleared successfully", Severity.Success);
    }
    //for delete cart button
    private void DeleteCartItem(Guid orderItemID)
    {
        OrderItemServices.DeleteItemInOrderList(_globalState.OrderItems, orderItemID);
        _totalAmount = OrderItemServices.CalculateTotalAmount(Elements);
        Snackbar.Add($"The Item is removed from the cart", Severity.Success);
    }
    //for managing quantity
    private void ManageQuantity(Guid orderItemID, string action)
    {
        OrderItemServices.ManageQuantityOrderItems(_globalState.OrderItems, orderItemID, action);
        _totalAmount = OrderItemServices.CalculateTotalAmount(Elements);

    }


    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;

}
